.separador{
    border-bottom-width: 1;
    border-bottom-color:#a59674;
}

.title{
    color: #cd8d45;
    font-weight: bold;
    font-size: 20;
    margin: 10;
}

.description{
    vertical-align: center;
    color: #000;
    font-size: 16;
    margin-left: 10;
    
}

TextField{
    height: 40;
    margin-right: 10;
    border-radius: 5;
    background-color:white;
    color: black
}

.bottom{
    vertical-align: bottom;
    margin-top: 200;
}